

.block{
  opacity: 0;
  max-width: 760px;
  &.blockShow{
    opacity: 1;
    &:not(.blockExpanded){
      .blockDescription{
        overflow-y: hidden;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 62px;
        -webkit-transition: max-height .5s, line-clamp .5s, -webkit-line-clamp .5s;
        transition: max-height .5s, line-clamp .5s, -webkit-line-clamp .5s;
      }
    }
  }
}

.blockDescription{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  white-space: pre-wrap;
  color: #FFFFFF;
  line-clamp: unset;
  -webkit-line-clamp: unset;
  overflow: unset;
  max-height: 500px;
  -webkit-transition: max-height .5s, line-clamp .5s, -webkit-line-clamp .5s;
  transition: max-height .5s, line-clamp .5s, -webkit-line-clamp .5s;
}
.blockMore{
  margin-top: 12px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;

  color: #3A7DFF;

  svg{
    transform: translateY(-1px);
  }
}

.blockMore svg{
  transform: rotate(0);
  -webkit-transition: transform .5s;
  transition: transform .5s;
}

.blockMore.expanded svg{
  transform: rotate(270deg);
  -webkit-transition: transform .5s;
  transition: transform .5s;
}
