.input{
    width: 100%;
    display: inline-flex;
    gap: 8px;
    padding-bottom: 20px;
    border-bottom: 1px solid #191919;   
}

.input input{
    width: 100%;
    background: unset;
    border: unset;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: none;
    font-weight: 500;
    line-height: 26.4px;
    color: #191919;
    @media (max-width: 768px) {
        font-size: 18px;
        line-height: 21.6px;
    }

}

.input input::placeholder{
    color: #191919;
}

.input input:focus-visible{
    border: unset;
    outline: unset;
}


.input.white input {
    color: #fff;
}

.input.white input::placeholder{
    color: #fff;
}

.input.white{
    border-bottom: 1px solid #fff;   
}

.input.white svg path{
    stroke: #fff;
}