.block{
    background: #FEFFEF;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    @media (max-width: 1201px) {
        padding: 120px 26px;
    }
    @media (max-width: 768px) {
        padding: 100px 14px;
    }
    @media (max-width: 650px) {
        padding: 80px 18px;
    }
}

@keyframes openText {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes closeText {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}



.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    color: #191919;
    /* letter-spacing: 2.3px; */
    @media (max-width: 650px) {
        font-size: 22px;
        line-height: 26.82px;
    }
}

.items{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    @media (max-width: 768px) {
        margin-top: 55px;
    }
    @media (max-width: 650px) {
        margin-top: 40px;
        gap: 40px;
    }
}

.columnTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    @media (max-width: 650px) {
        font-size: 18px;
        line-height: 21.6px;
    }
}



.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column span{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: #191919;
    white-space: pre-line;
}

.column span ol li{
    margin-left: 20px;
}

.column span ul li{
    margin-left: 25px;
}



.item{
    cursor: pointer;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 12px; */
    border-bottom: 1px solid #191919;
    
}



 .item.activeItem{
    color: #3A7DFF;
    border-bottom: 1px solid #3A7DFF;
    
}

.text{
    padding-bottom: 0;
    max-height: 0px;
    overflow: auto;
     -webkit-transition: max-height .3s, padding .5s;
    transition: max-height .3s, padding .5s;
}

.text.activeText{
    padding-bottom: 20px;
    max-height: 840px;
    -webkit-transition: max-height .5s, padding .5s;
    transition: max-height .5s, padding .5s;
}

@keyframes rotate-arrow {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes unrotate-arrow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.icon svg{
    width: 32px;
    height: 32px;
}
.icon svg path{
    stroke: #191919;
}

.icon svg {
    
    transform: rotate(-90deg);
    animation: unrotate-arrow; 
    animation-duration: 0.3s;
}

.icon.activeIcon svg path{
    stroke: #3A7DFF;
}

.icon.activeIcon svg{
    animation: rotate-arrow; 
    animation-duration: 0.3s; 

    transform: rotate(0deg);    
}