.block{
    background: #F1F1F1;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes subFadeInAnimation {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.mapContent{
    
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 271px;
    padding-bottom: 305px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    @media screen and (max-width: 1201px) {
     padding: 120px 27px 113px;   
    }
    @media screen and (max-width: 768px) {
        padding: 100px 14px 90px;
    }
    @media screen and (max-width: 650px) {
        padding: 80px 14px 75px;
        gap: 57px;
    }
}


    

.background{
    position: absolute;
    right: 0;
    top: 120px;
    @media screen and (max-width: 1201px) {
        top: 17px;
        right: 30px;
    }
    @media screen and (max-width: 768px) {
        top: 0;
    }
    @media screen and (max-width: 650px) {
        top: 70px;
    }
    z-index: -1;
}

.background img {
    width: 536px;
    height: 665px;
    opacity: 0.4;
    object-fit: contain;
    @media screen and (max-width: 1201px) {
        width: 506.75px;
    }
    @media screen and (max-width: 650px) {
        max-width: 340px;
        height: 447px;
        gap: 0px;
    }

}

.mainText{
    opacity: 0;
}

.mainText span{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    color: #191919;
    @media screen and (max-width: 650px) {
        font-size: 22px;
        line-height: 26.82px;
    }
}


.mainText.fade{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.blueText{
    color: #3A7DFF !important;
}

.row{
    opacity: 0;
    display: flex;
    flex-direction: row;
    gap: 90px;
    @media screen and (max-width: 1201px) {
        gap: 40px;
    }
    @media screen and (max-width: 650px) {
        flex-direction: column;
        gap: 35px;

    }
}

.row.fade{
    animation: subFadeInAnimation ease 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 510px;
    @media screen and (max-width: 1201px) {
        max-width: 449px;
    }
    @media screen and (max-width: 768px) {
        max-width: 350px;
    }
}

.columnTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    color: #3A7DFF;
}

.columnValue{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    color: #191919;
    /* letter-spacing: 1.5px;
     @media screen and (max-width: 1201px) {
        letter-spacing: 1.7px;
    } */
    @media screen and (max-width: 650px) {
        font-size: 18px;
        line-height: 21.6px;
    }
}