.block{
    background: white;
    position: relative;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    @media (max-width: 1201px) {
        padding: 120px 26px 158px;
    }
    @media (max-width: 768px) {
        padding: 100px 14px;
    }
    @media (max-width: 650px) {
        padding: 80px 18px;
    }
}

.header{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    color: #191919;
    @media (max-width: 650px) {
        font-size: 22px;
        line-height: 26.82px;
    }
}

.divider{
    position: absolute;
    top: 304px;
    left: 0;
    background: #686868;
    height: 1px;
    width: 100vw;
    @media (max-width: 768px) {
        top: 284px;
    }
     @media (max-width: 650px) {
        top: 210px;
    }
}

.row{
    margin-top: 60px;
    display: inline-flex;
    justify-content: flex-end;
    gap: 100px;
    width: 100%;
    @media (max-width: 1201px) {
        gap: 70px;
    }
    @media (max-width: 768px) {
        gap: unset;
        justify-content: space-between;
    }
    @media (max-width: 650px) {
        margin-top: 40px;
    }
}


.value{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.value span{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 43.88px;
    color: #686868;
    @media (max-width: 650px) {
        font-size: 22px;
        line-height: 26.82px;
        text-align: center;
    }
}


.activeValue span{
    color: #000000;
}


.radio{
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid #686868;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeValue .radio{
    border: 1px solid #3A7DFF;
}

.center{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3A7DFF;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes inFadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.rowValue{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap: 105px;
    @media (max-width: 1201px) {
        gap: 40px;
    }
    @media (max-width: 650px) {
        flex-direction: column;
        align-items: unset;
        gap: 20px;
    }
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rowValue.animate{
    animation: inFadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.icon{
    width: 494px;
    min-width: 494px;
    height: 278px;
    border-radius: 6px;
    background: #EDF1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1201px) {
        min-width: 427px;
        width: 427px;
        height: 240.3px;
    }
    @media (max-width: 768px) {
        min-width: 330px;
        width: 330px;
        height: 185px;
    }
    @media (max-width: 650px) {
        width: 100%;
        height: 190px;
    }
}

.icon svg{
    @media (max-width: 650px) {
        width: 158.3px;
        height: 111.4px;
    }
}

.rowValue span {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    color: #191919;
    transform: translateY(5px);
    @media (max-width: 1201px) {
        line-height: 26.4px;
    }
    @media (max-width: 768px) {
        transform: unset;
    }
    @media (max-width: 650px) {
        font-size: 18px;
        line-height: 21.6px;
    }
}